image: php:5.6
before_script:
  - sudo apt-get install network-manager-openconnect network-manager-openconnect-gnome
  - sudo composer self-update
  - composer install
  - echo $VPN_PASSWORD | sudo openconnect $VPN_HOST --user=$VPN_USERNAME --passwd-on-stdin > /dev/null &
  - phantomjs --webdriver=4445 --ignore-ssl-errors=true > /dev/null &

job1:
  script:
    - bin/behat -p phantomjs -f pretty -f progress