language: php
php:
  - '7.0'

before_script:
  - sudo apt-get install network-manager-openconnect network-manager-openconnect-gnome
  - composer install
  - "echo $VPN_PASSWORD | sudo openconnect $VPN_HOST --user=$VPN_USERNAME --passwd-on-stdin > /dev/null &"
  - "phantomjs --webdriver=4445 --ignore-ssl-errors=true > /dev/null &"

script:
  - bin/behat -p phantomjs -f pretty -f progress